form {
    width: 500px;              /* largura do formulário */
    margin: auto;              /* centraliza horizontalmente */
    background: #f0dfc7;       /* cor de fundo do formulário */
    padding: 40px;             /* espaçamento interno */
    border-radius: 10px;       /* cantos arredondados */
    color: rgb(0, 0, 0);      /* cor do texto */
}

body {
    background-color: #bea47e; /* cor de fundo da página */
}

h1 {
    text-align: center;        /* centraliza o título */
}
